// File: 16c745.lkr
// Sample linker command file for 16C765, 16C745

LIBPATH  .

CODEPAGE   NAME=vectors  START=0x0      END=0xFF      PROTECTED

// Split the first page into 256-byte chunks where PCLATH is constant
CODEPAGE   NAME=pcl_1   START=0x100   END=0x1FF    PROTECTED
CODEPAGE   NAME=pcl_2   START=0x200   END=0x2FF    PROTECTED
CODEPAGE   NAME=pcl_3   START=0x300   END=0x3FF    PROTECTED
CODEPAGE   NAME=pcl_4   START=0x400   END=0x4FF    PROTECTED
CODEPAGE   NAME=pcl_5	START=0x500   END=0x5FF    PROTECTED
CODEPAGE   NAME=pcl_6	START=0x600   END=0x6FF    PROTECTED
CODEPAGE   NAME=pcl_7	START=0x700   END=0x7FF    PROTECTED

CODEPAGE   NAME=page1    START=0x800    END=0xFFF
CODEPAGE   NAME=page2    START=0x1000   END=0x17FF
CODEPAGE   NAME=page3    START=0x1800   END=0x1FFF
CODEPAGE   NAME=.idlocs  START=0x2000   END=0x2003
CODEPAGE   NAME=.config  START=0x2007   END=0x2007

SHAREBANK  NAME=gprnobnk START=0x70     END=0x7F
SHAREBANK  NAME=gprnobnk START=0xF0     END=0xFF
SHAREBANK  NAME=gprnobnk START=0x170    END=0x17F
SHAREBANK  NAME=gprnobnk START=0x1F0    END=0x1FF

DATABANK   NAME=gpr0     START=0x20     END=0x6F
DATABANK   NAME=gpr1     START=0xA0     END=0xEF
DATABANK   NAME=gpr2     START=0x120    END=0x16F
DATABANK   NAME=gpr3     START=0x190    END=0x1EF

DATABANK   NAME=sfr0     START=0x0      END=0x1F     PROTECTED
DATABANK   NAME=sfr1     START=0x80     END=0x9F     PROTECTED
DATABANK   NAME=sfr2     START=0x100    END=0x11F    PROTECTED
DATABANK   NAME=sfr3     START=0x180    END=0x18F    PROTECTED

SECTION    NAME=STARTUP  ROM=vectors    // Reset and interrupt vectors

SECTION    NAME=page_1   ROM=pcl_1
SECTION    NAME=page_2   ROM=pcl_2
SECTION    NAME=page_3   ROM=pcl_3
SECTION    NAME=page_4   ROM=pcl_4
SECTION    NAME=descr_page ROM=pcl_5
SECTION    NAME=interface ROM=pcl_6

SECTION    NAME=PROG2    ROM=page1      // ROM code space - page1
SECTION    NAME=PROG3    ROM=page2      // ROM code space - page2
SECTION    NAME=PROG4    ROM=page3      // ROM code space - page3
SECTION	   NAME=IDLOCS	 ROM=.idlocs	// ID locations
SECTION    NAME=CONFIG   ROM=.config	// Configuration bits location

SECTION    NAME=bank0    RAM=gpr0
SECTION    NAME=bank1    RAM=gpr1
SECTION    NAME=bank2    RAM=gpr2
SECTION    NAME=bank3    RAM=gpr3
SECTION    NAME=unbanked RAM=gprnobnk   // unbanked RAM - last 16bytes of each bank

