/* Generic reformatting of certain tags. */
body {
	font-family: sans-serif;
	padding: 0;
	margin: 0;
}

p {
	text-indent: 3em;
}

/* Links */
a.nav{
	/*color: #1e059b;*/
	color: white;
	text-decoration: none;
	font-variant: small-caps;
	margin-left: .75em;
	margin-right: .75em;
}

a {
	text-decoration: none;
	color: #8a374e;
}

a:hover {
	text-decoration: underline;
}

/* Formatting for the main body stuff. */
div.main {
	padding: 8px 8px 0;
}

div.top {
	background: #1d2e45;
	margin: 5px 0 0 0;
}

/* Headers */
div.header {
	color: white;
	font-size: xx-large;
	font-weight: bold;
	font-style: oblique;
	font-variant: small-caps;
	padding: 15px;
	border-bottom: thin solid;
}

div.topic {
	color: #382d37;
	text-align: right;
	font-style: oblique;
	font-variant: small-caps;
	font-size: large;
	padding-right: 1em;
}

div.date {
  font-variant: small-caps;
}

img.header {
	padding-bottom: 10px;
	padding-left: 20px;
}

/* Text borders */
div.outerBorder {
	background: #d1dacc;
	border: thin solid;
}

div.innerBorder {
	padding: 1em;
	border-top: thin solid;
}

/* Misc. */
div.sidebar {
	padding:1em;
	border: thin solid;
	background: #dcd0db;
}

div.navigation {
	border-top: thin solid #6e3849;
	/*background: #acb8a4;*/
	background: black;
	text-align: left;
	padding: .25em .5em;
}

/* Tables */
table {
	width: 100%;
}

td.left {
	padding: 0 8px 0 0;
	vertical-align: top;
}

td.right {
	width: 20%;
	vertical-align: top;
	padding: 0;
}

td.screenshot {
	width: 33%;
	font-variant: small-caps;
	vertical-align: top;
	padding-top: 25px;
}

/* FAQ specific */
div.section {
	padding: 1em;
}
div.sectop {
	border-bottom: thin solid;
	margin-top: 12px;
	padding: 3px;
	padding-left:0;
}

span.secname {
	font-variant: small-caps;
	background: #abc9ba;
	border: thin solid;
	border-bottom: none;
	padding: 3px 8px;
}

div.question {
	color: #8a2d46;
	font-variant: small-caps;
	padding: 1em;
}

div.answer {
	padding: 0 1em;
}
