body {
	color: black;
	background-color: #ced4bd;
	background-image: url(/site_media/images/background.png);
	background-repeat: repeat-x;
	font-family: Verdana, Arial, Helvetica, Sans-Serif;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.fieldlabel {
	clear: left;
}

#header {
	width: 700px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
}

#container {
	width: 700px;
	background-color: #ffffff;
	margin-left: auto;
	margin-right: auto;

	border-style: solid;
	border-color: #b4b4b4;
	border-width: 0px 1px 0px;
}

#nav {
	padding: 0.5em;
	float: right;
}

#content {
	padding: 1em;
}

.ci {
	font-size: 13px;
	margin: 0px;
	position: absolute;
	background-image: url('/site_media/images/comment.png');
	width: 25px;
	height: 25px;
	text-align: center;
	z-index: 7;
	cursor: pointer;
}

.ch {
	position: absolute;
	background-color: #ffffff;
	z-index: 6;
}

.ch:hover {
	background-color: #dedede;
}

.comment {
	display: none;
}
