.banner {
	top: 0px;
	left: 0px;
	width: 100%;
	background-color: #09A1AE;
	background-image: url(/teaching_boxes/images/bannerExtender3.jpg);
	border: 1px none #000000;
}

.navigation {
	width: 90%;
	padding: 5px 10px 20px 10px;
}

td.main {
	padding: 5px
}

H1 {
	font-size: xx-large;
	font-weight: bold;
	padding-left: 0px;
}

.titleBar {
	font-size: 145%;
	font-weight: bold;
	color: white;
	margin-left: 10px;
}

.fieldName {
	font-size: large;
	font-weight: bold;
	font-variant: small-caps
}

.field {
	padding: 5px;
}

.removeButton {
	color: blue;
	font-style: oblique;
	font-size: x-small;
	text-decoration: underline;
	margin-left: 10px;
	cursor: pointer;
}

.linkField {
	color: blue;
	font-style: oblique;
	font-size: medium;
	text-decoration: underline;
	cursor: pointer;
}

.descriptionField {
	font-size: medium;
	font-style: italic;
}

div.toolbar {
	width: 98%;
	background-color: #cccccc;
	margin-left: 1%;
	margin-bottom: 5px;
	border: thin solid black;
	font-size: medium;
}

div.new_lesson {
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	border: thin solid #000000;
	background-color: #e0e0e0;
	width: 300px;
	visibility: hidden;
	display: none;
}

div.fieldsSelect {
	overflow: auto;
	margin: 10px;
	height: 100px;
	border: thin solid #000000;
	background-color: #ffffff;
}
