.banner {
	top: 0px;
	left: 0px;
	width: 100%;
	background-color: #09A1AE;
	background-image: url(/teaching_boxes/images/bannerExtender3.jpg);
	border: 1px none #000000;
}

td.navigation {
	width: 25%
}

td.main {
	padding: 5px
}

.fieldName {
	font-size: large;
	font-weight: bold;
	font-variant: small-caps
}

.field {
	padding: 5px;
}

.removeButton {
	color: blue;
	font-style: oblique;
	font-size: x-small;
	text-decoration: underline;
	margin-left: 10px;
}

.descriptionField {
	font-size: medium;
	font-style: italic;
}

div.new_box {
   margin-left: 10px;
   margin-right: 10px;
   margin-bottom: 10px;
   border: thin solid #000000;
   background-color: #e0e0e0;
   width: 300px;
   visibility: hidden;
   display: none;
}

div.fieldsSelect {
   overflow: auto;
   margin: 10px;
   height: 100px;
   border: thin solid #000000;
   background-color: #ffffff;
}
