{% extends "base.html" %}
{% block content %}
<form method="post">
	<table>
		<tr>
			<td>Player:</td>
			<td><span style="font-style: italic">{{ user }}</span></td>
		</tr>
		<tr>
			<td>{{ form.name.label }}</td>
			<td>{{ form.name }}</td>
			<td>{{ form.alignment.label }}</td>
			<td>{{ form.alignment }}</td>
		</tr>
		<tr>
			<td>{{ form.race.label }}</td>
			<td>{{ form.race }}</td>
		</tr>
		<tr>
			<td>{{ form.gender.label }}</td>
			<td>{{ form.gender }}</td>
			<td>{{ form.size.label }}</td>
			<td>{{ form.size }}</td>
		</tr>
		<tr>
			<td>{{ form.deity.label }}</td>
			<td>{{ form.deity }}</td>
			<td>{{ form.age.label }}</td>
			<td>{{ form.age }}</td>
		</tr>
		<tr>
			<td>{{ form.height.label }}</td>
			<td>{{ form.height }}</td>
			<td>{{ form.weight.label }}</td>
			<td>{{ form.weight }}</td>
		</tr>
		<tr>
			<td>{{ form.eye_color.label }}</td>
			<td>{{ form.eye_color }}</td>
			<td>{{ form.hair_color.label }}</td>
			<td>{{ form.hair_color }}</td>
		</tr>
		<tr>
			<td>{{ form.skin_color.label }}</td>
			<td>{{ form.skin_color }}</td>
		</tr>
		<tr>
			<td>{{ form.strength.label }}</td>
			<td>{{ form.strength }}</td>
			<td>{{ form.fortitude.label }}</td>
			<td>{{ form.fortitude }}</td>
		</tr>
		<tr>
			<td>{{ form.dexterity.label }}</td>
			<td>{{ form.dexterity }}</td>
			<td>{{ form.reflex.label }}</td>
			<td>{{ form.reflex }}</td>
		</tr>
		<tr>
			<td>{{ form.constitution.label }}</td>
			<td>{{ form.constitution }}</td>
			<td>{{ form.will.label }}</td>
			<td>{{ form.will }}</td>
		</tr>
		<tr>
			<td>{{ form.intelligence.label }}</td>
			<td>{{ form.intelligence }}</td>
		</tr>
		<tr>
			<td>{{ form.wisdom.label }}</td>
			<td>{{ form.wisdom }}</td>
		</tr>
		<tr>
			<td>{{ form.charisma.label }}</td>
			<td>{{ form.charisma }}</td>
		</tr>
		<tr>
			<td>{{ form.attack.label }}</td>
			<td>{{ form.attack }}</td>
			<td>{{ form.spell_resist.label }}</td>
			<td>{{ form.spell_resist }}</td>
		</tr>
	</table>
	<button type="submit">Save</button>
</form>
{% endblock %}
{# vim: ts=4:sw=4:ft=htmldjango
#}
