BODY {
	background-color: #ffffff;
}
P, LI { 
	padding-right: 8px;
}
OL {
	padding-top: 0px;
	margin-top: 0px;
}
.style1 {
	font-style: italic
}

/* TB banner graphic */
.tb_banner {
	position: absolute; 
	top: 0px; 
	left: 0px; 
	width: 100%;
	z-index: 2000;
}

/* Override Tree Menu defaults: 2 column table*/
/* Left column (menu)*/
.dlese_treeMenu {
	top: 10px;
}
.dlese_treeMenuTableCellMenu {
	background-color: #ECFEFF; 
	position: relative;
	padding-top: 95px;	
}
/* Right column (content)*/
.dlese_treeMenuTableCellText {
	padding-left: 0px;
	margin-left: 7px;
	margin-right: 7px;
	padding-bottom: 20px;
	padding-top: 100px;
}
/* Link unvisited/visited/hover colors: */
.dlese_treeMenuLabels A:link {
	color: #303F63;
	text-decoration: none;
}
.dlese_treeMenuLabels A:visited {
	color: #303F63;
	text-decoration: none;
}
.dlese_treeMenuLabels A:hover {
	color: #00AAAA;
	text-decoration: none;
}
/* Sub-menu labels (rows): */
.dlese_treeMenuSubLabels {
	background-color: #ECFEFF; 
	margin-top: 2px;
	margin-bottom: 2px;
	font-size: 95%;
}
.dlese_treeMenuTopLabels {
	padding-top: 2px;
	padding-bottom: 2px;
}
/* Current page label (row): */
.dlese_treeMenuSelectedLabel {
	color: #000099;
	background-color: #FFFFFF;
}
.dlese_treeMenuLabelText {
	margin-top: 3px;
	margin-bottom: 3px;
	font-size:105%;
	text-decoration: none;
    text-indent: -10px;
    padding-left: 10px;
	line-height:110%;
}
.dlese_treeMenuHR {
	width: 144px;
	height: 9px;
}

/* "Evidence for Plate Tectonics (6-8)" - side menus header */
.sectionHeading {
	font-weight: bold;
	top: 52px;
	left: 150px;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 4px;
	padding-right: 4px;
	position:absolute;
	z-index: 2000;
}
.sectionHeadingText {
	padding-left: 0px;
	color:#303F63
}
.tb_top {
	height: 36px;
	font-weight: bold;
	color: #352311;
	margin-bottom: 0px;
	top: -10px;
	z-index: 2000;
	position:relative;
	left:0px;
}
.noSpaceAboveBelow {
	margin-top: -5px;
	padding-top: -5px;
	margin-bottom: 2px;
	padding-bottom: 2px;
}
.tb_top_text {
	position: relative;
	padding-top: 0px;
	padding-left: 8px;
	margin-bottom:10px;
	font-style:italic
}
.tb_maps {
	width: 100%;
	background-color: #f4e0bb;
}
.tb_grey_line {
	width: 100%;
	background-color: #999999;
	height: 3px;
	font-size: 1px;
	z-index: 2000;
}
.tb_tabs {
	width: 100%;
	background-color: #A2F4F4;
	color: #352311
}
.tb_subtabs {
	width: 100%;
	background-color: #000066;
	padding-top: 2px;
	padding-bottom: 2px;
	border-left: 2px outset #000066;
	border-right: 2px outset #000066;
	border-bottom: 2px outset #000066;
}
/* Top tab styles */
.tab_unselected {
	background-color: #E7CEB6;
	border: 2px outset #ffffff;
	padding-right: 4px;
	padding-left: 4px;
	border-bottom: none;
	height: 1.5em;
	margin: 0px;
}
.tab_unselected A:link {
	color: #000066;
	text-decoration: none;
}
.tab_unselected A:visited {
	color: #643464;
	text-decoration: none;
}
.tab_unselected A:hover {
	color: #a400a4;
}
.tab_selected {
	color: #ffffff;
	background-color: #000066;
	border: 2px outset #000066;
	padding-right: 4px;
	padding-left: 4px;
	border-bottom: none;
}
.subtab_unselected {
	padding-left: 8px;
	padding-right: 8px;
	color: #ffffff;
	border-right: 1px solid #442244;
	font-family: Arial narrow;	
}
.subtab_unselected A:link {
	color: #ffffff;
	text-decoration: none;
}
.subtab_unselected A:visited {
	color: #eeeeee;
	text-decoration: none;
}
.subtab_unselected A:hover {
	color: #ffff00;
	text-decoration: underline;
}
.subtab_selected {
	padding-left: 8px;
	padding-right: 8px;
	color: #ffff00;
	border-right: 1px solid #442244;
	font-family: Arial narrow;
}
.resource_description_brief_odd {
	width: 100%;
	background-color: #FBF8F4;
	padding: 5px;
	border-bottom: 1px solid #444444;
}
.resource_description_brief_even {
	width: 100%;
	background-color: #ffffff;
	padding: 6px;
	border-bottom: 1px solid #444444;
}
.description_brief_title {
	font-weight: bold;
}
.description_brief_url {
	font-size: 90%;
}
.description_brief_title A:link {
	color: #000000;
	text-decoration: none;
}
.description_brief_title A:visited {
	color: #444444;
	text-decoration: none;
}
.description_brief_title A:hover {
	text-decoration: underline;
}
