/* Alternate version of CSS used for printing */

/* Hide the Tree Menu */
.dlese_treeMenu {
	display: none;	
}

/* Reposition "Evidence for Plate Tectonics (6-8)" - side menus header */
.sectionHeading {
	position: absolute;
	top: 7px;
	left: 7px;
	background-color: #FFFFFF;
	width: 400px;
	font-size: 110%;
}

.tb_top {
	font-size: 110%;
}

/* Hide banner graphic */
.tb_banner {
	display: none;
}
