{% extends "base.html" %}
{% block title %}Edit Account{% endblock%}

{% block content %}

<h1>Edit User</h1>

{% if form.has_errors %}
  <h2>Please correct the following error{{ form.error_dict|pluralize }}:</h2>
{% endif %}

<form action="/accounts/new/" method="post">
  <table>
    <tr>
      <td><label for="id_username">Username:</label></td>
      <td>{{ form.username }}</td>
      <td>{% if form.username.errors %}*** {{ form.username.errors|join:", " }}{% endif %}</td>
    </tr>
    <tr>
      <td><label for="id_first_name">First name:</label></td>
      <td>{{ form.first_name }}</td>
      <td>{% if form.first_name.errors %}*** {{ form.first_name.errors|join:", " }}{% endif %}</td>
    </tr>
    <tr>
      <td><label for="id_last_name">Last name:</label></td>
      <td>{{ form.last_name }}</td>
      <td>{% if form.last_name.errors %}*** {{ form.last_name.errors|join:", " }}{% endif %}</td>
    </tr>
    <tr>
      <td><label for="id_email">E-mail address:</label></td>
      <td>{{ form.email }}</td>
      <td>{% if form.email.errors %}*** {{ form.email.errors|join:", " }}{% endif %}</td>
    </tr>
  </table>
  <input type="Submit" value="save"/>
</form>

{% endblock %}
