NET "clk" LOC=P13;
NET "reset" LOC=P71;

NET "led" LOC=P19;

NET "scl" LOC=P18;
NET "sda" LOC=P23;

NET "gc_ports<0>" LOC=P7;
NET "gc_ports<1>" LOC=P9;
NET "gc_ports<2>" LOC=P20;
NET "gc_ports<3>" LOC=P25;

