body {
 background-color: #8F808F;
 margin-left: 4%;
}

h1.name {
 font-weight: bold;
}

div.close {
 border: solid;
 border-width: thin;
 width: 100%;
 text-align: center;
}

div.qa {
 margin-left: 6%;
 overflow: scroll
}

p {
 text-indent: 2em;
 margin-top: 0;
 margin-bottom: 0;
}
