[GdmGreeterTheme]
Encoding=UTF-8
Greeter=tummy_hole.xml
Name=Tummy Hole
Description=GDM theme using images created by Ajay at stewped.com
Author=W. Evan Sheehan
Copyright=(c) 2004 W. Evan Sheehan
Screenshot=screenshot.png
