# add an array here of tuples of the form (path, (key, value))
[
('/navi/media/audio/comedy',('mask',True)),
('/navi/media/audio/soundtracks',('mask',True)),
('/navi/media/audio/groups',('mask',True)),
('/navi/media/audio/groups',('format','None')),
('/navi/media/audio/groups/Cake',('mask',False)),
('/navi/media/audio/groups/Emerson_Lake_and_Palmer',('mask',False)),
('/navi/media/audio/groups/Evanescence',('mask',False)),
('/navi/media/audio/groups/Flogging_Molly',('mask',False)),
('/navi/media/audio/groups/Frank_Zappa',('mask',False)),
('/navi/media/audio/groups/Garbage',('mask',False)),
('/navi/media/audio/groups/Les_Negresses_Vertes',('mask',False)),
('/navi/media/audio/groups/Madness',('mask',False)),
('/navi/media/audio/groups/Midnight_Oil',('mask',False)),
('/navi/media/audio/groups/Miles_Davis',('mask',False)),
('/navi/media/audio/groups/Pink_Floyd/the_wall',('format','Navi')),
('/navi/media/audio/groups/Pink_Floyd/dark_side_of_the_moon',('format','Navi')),
('/navi/media/audio/groups/Pink_Floyd',('mask',False)),
('/navi/media/audio/groups/Radiohead',('mask',False)),
('/navi/media/audio/groups/Richard_Thompson',('mask',False)),
('/navi/media/audio/groups/Squirrel_Nut_Zippers',('mask',False)),
('/navi/media/audio/groups/The_Beatles',('mask',False)),
('/navi/media/audio/groups/The_Wallflowers',('mask',False)),
('/navi/media/audio/groups/They_Might_Be_Giants',('mask',False)),
('/navi/media/audio/composers/Brahms_Johannes',('mask',True)), # haydn
('/navi/media/audio/composers/Haydn_Joseph',('mask',True)), # haydn
('/navi/media/audio/composers/Wagner_Richard',('mask',True)), # wagner
('/navi/media/audio/composers/Boccherini_Luigi',('mask',True)),

# all the Bach preludes and fugues consecutively can get somewhat harrowing
# ..and the same goes for Shostakovich's
('/navi/media/audio/composers/Bach_Johann_Sebastian',('format',None)),
('/navi/media/audio/composers/Shostakovich_Dmitri',('format',None)),
]
