{% extends "base.html" %}
{% load human %}

{% block extrahead %}
<script type="text/javascript" src="/site_media/js/recipe-edit.js"></script>
<script type="text/javascript">
window.onload = function() {
	ingredients.init();
}
</script>
{% endblock %}


{% block content %}
{% block pageheader %}{% endblock %}

{% if form.has_errors %}
<p>Please correct the following error{{ form.error_dict|pluralize }}:</p>
{% endif %}

{% block formopen %}{% endblock %}
<h3>Description:</h3>
<table>
  <tr>
    <td><label for="id_title">Title:</label></td>
    <td>{{ form.title }}</td>
    <td>{% if form.title.errors %}*** {{form.title.errors|join:", "}}{% endif %}</td>
  </tr>
  <tr>
    <td><label for="id_servings">Servings:</label></td>
    <td>{{ form.servings }}</td>
    <td>{% if form.servings.errors %}*** {{ form.servings.errors|join:", " }}{% endif %}</td>
  </tr>
  <tr>
    <td><label for="id_prep_time">Preparation Time:</label></td>
    <td>{{ form.prep_time }}</td>
    <td>{% if form.prep_time.errors %}*** {{ form.prep_time.errors|join:", " }}{% endif %}</td>
  </tr>
  <tr>
    <td><label for="id_cooking_time">Cooking Time:</label></td>
    <td>{{ form.cooking_time }}</td>
    <td>{% if form.cooking_time.errors %}*** {{ form.cooking_time.errors|join:", " }}{% endif %}</td>
  </tr>
</table>

<h3>Ingredients:</h3>
<div id="ingredients">
  {% for ingredient in ingredients %}
  <p class="ingredientLine">{% if ingredient %}<input type="text" name="ingredient_{{ forloop.counter0 }}" id="ingredient_{{ forloop.counter0 }}" class="ingredientEntry" size="40" value="{{ ingredient }}" />{% if ingredient.error %}*** Could not understand this.{% endif %}{% else %}<input type="text" name="ingredient_{{ forloop.counter0 }}" id="ingredient_{{ forloop.counter0 }}" class="ingredientEntry" size="40" />{% endif %}</p>
  {% endfor %}
</div>

<h3>Instructions:</h3>
<p>
  {{ form.instructions }}
  {% if form.instructions.errors %}*** {{ form.instructions.errors|join:", " }}{% endif %}
</p>

<h3>Notes:</h3>
<p>
  {{ form.notes }}
  {% if form.notes.errors %}*** {{ form.notes.errors|join:", " }}{% endif %}
</p>

<div id="license">
  <label for="id_license">License:</label> {{ form.license }}
  {% if form.license.errors %}*** {{ form.license.errors|join:", " }}{% endif %}
</div>

<div id="licensechoices">
  <div>
    <h3>Choose a License</h3>
    <p>
      Select the terms under which you want to make this recipe available.
      Since this site is about sharing, we reccommend a
      <a href="http://creativecommons.org">Creative Commons</a> license, which
      will allow people to share and tweak, or print something out to give to
      their friends.
    <p>
      For more information on these creative-commons licensing, see
      <a href="http://creativecommons.org/about/licenses/meet-the-licenses">Creative Commons' "Meet the Licenses."</a>
    </p>
  </div>

  <div id="by-nc-sa">
    <img src="/site_media/images/cc/by-nc-sa.png" />
    This license lets others remix, tweak, and build upon your work
    non-commercially, as long as they credit you and license their new
    creations under the identical terms.

    <br /><a>Use this license</a>
  </div>

  <div id="by-nc">
    <img src="/site_media/images/cc/by-nc.png" />
    This license lets others remix, tweak, and build upon your work
    non-commercially, and although their new works must also acknowledge you
    and be non-commercial, they don't have to license their derivative works
    on the same terms.

    <br /><a>Use this license</a>
  </div>

  <div id="by-sa">
    <img src="/site_media/images/cc/by-sa.png" />
    This license lets others remix, tweak, and build upon your work even for
    commercial reasons, as long as they credit you and license their new
    creations under the identical terms. This license is often compared to
    open source software licenses.

    <br /><a>Use this license</a> <em>Recommended!</em>
  </div>

  <div id="by">
    <img src="/site_media/images/cc/by.png" />
    This license lets others distribute, remix, tweak, and build upon your
    work, even commercially, as long as they credit you for the original
    creation. This is the most accommodating of Creative Commons licenses
    offered, in terms of what others can do with your works licensed under
    Attribution.

    <br /><a>Use this license</a>
  </div>

  <div id="pd">
    <img src="/site_media/images/cc/pd.png" />
    This license represents a granting of the work into the public domain, which
    allows your work to be freely reproduced, distributed, transmitted, used,
    modified, built upon, or otherwise exploited by anyone for any purpose,
    commercial or non-commercial, and in any way, including by methods that
    have not yet been invented or conceived.

    <br /><a>Use this license</a>
  </div>

  <div id="c">
    Basic copyright is "all rights reserved."  People cannot copy, redistribute,
    alter or build upon your work without your permission, except as permitted
    by fair use law.

    <br /><a>Use this license</a>
  </div>
</div>

{% block formclose %}{% endblock %}
{% endblock %}
