@import "forms.css";

html {
	background: #02290b url("/site_media/img/bg.png") repeat;
	padding: 50px 0;
}

body {
	width: 800px;
	margin: auto;
	padding: 2px;
	background-color: #fdffdc;
}

img#header {
	margin-bottom: 10px;
}

table#login {
	margin: auto;
	background-color: #fcffc2;
	border: 1px solid #711100;
	table-layout: auto;
}

table {
	table-layout: fixed;
}

p.note {
	font-size: small;
	font-style: italic;
}

/* vim: ts=4:sw=4
 */
