body {
  font-family: sans-serif;
  background: white;
  background-image: url("xchat-gnome-trans.png");
  background-repeat: no-repeat;
  background-position: bottom right;
}

h1 {
  font: 250% sans-serif;
  border-bottom: 1px dashed #888;
  border-left: 1px dashed #888;
  color: #888;
  margin: 0em;
  padding: 0em 0em 0.2em 0.2em;
}

a.navigation:hover {
  text-decoration: underline;
}

a.navigation {
  font: 120% sans-serif;
  text-decoration: none;
  color: #9f4747;
}

a:hover {
  text-decoration: underline;
}

a {
  font: sans-serif;
  text-decoration: none;
  color: #9f4747;
}

div.navigation {
  float: right;
}

div.content {
  padding-top: 1.5em;
  width: 75%;
}

div.footer {
  position: absolute;
  bottom: 0;
}

div.code {
  border: 1px dashed #AAA;
  font-family: monospace;
  padding: 0.2em 0.2em 0.2em 0.2em;
  width: 90%;
  float: right;
}

p {
  margin: 0em 1em;
  text-indent: 3em;
}
