[GdmGreeterTheme]
Encoding=UTF-8
Greeter=spirograph.xml
Name=Fyre - Spirograph
Description=GDM theme using images created by Fyre
Author=W. Evan Sheehan
Copyright=(c) 2004 W. Evan Sheehan
Screenshot=screenshot.png
