/* $Id: dlese_styles_screen.css,v 1.2 2005/09/08 20:41:16 ryandear Exp $ */ 

/* ---------------- Basic HTML tag styles ---------------- */

BODY { 
	font-family: Arial, Helvetica, sans-serif; 	
	margin-left: 0px; 
	margin-right: 0px;
	margin-top: 0px;
	color: #000000;
	background-color: #FFFFFF;
	padding: 0px;
	font-size: 80%;
}
P { 
	list-style-type: Decimal; 
	color: #000000; 
	margin-top: 0px;
	padding-top: 0px;
	padding-left: 7px;
} 
A { 
	text-decoration: underline; 
	color: #006b3b;
}
A:link { 
	color: #006b3b;
} 
A:visited { 
	color: #154020;
} 
A:active { 
	color: #009070;
}
A:hover {
	text-decoration: underline;
}
H1 { 
	font-size: 145%;
	font-weight: bold;
	color: #000099;
	margin-top: 0px;
	padding-left: 7px;
	padding-top: 0px;
} 
H2 { 
	font-size: 130%;
	font-weight: bold;
	font-style: italic;
	color: #000099;
	margin-top: 0px;
	padding-top: 3px;	 	
	padding-left: 7px;
	padding-bottom: 5px;
} 
H3 { 	
	font-size: 125%;
	font-weight: bold;
	color: #000099; 
	margin-top: 0px;
	margin-bottom: 0px;
	padding-left: 7px;
	padding-top: 7px;
} 
H4 { 
	font-size: 110%;
	font-style: italic;
	font-weight: bold;
	color: #000099; 	
	margin-top: 0px;
	margin-bottom: 0px;
	padding-left: 7px;
	padding-top: 0px;	
} 
H5 { 
	font-size: 90%;
	font-weight: bold;
	color: #000000; 
	margin-top: 0px;
	margin-bottom: 0px;
	padding-left: 7px;
	padding-top: 5px;	
} 
H6 { 
	font-size: 85%;	
	font-weight: normal; 
	color: #000000; 
	margin-top: 0px;
	margin-bottom: 0px;
	padding-left: 7px;
	padding-top: 5px;
	font-style: italic;	
}
TH {
	font-size: 80%;
	font-weight: bold;
	color: #000099;
	padding: 5px;
	text-align:left;
}
TD { font-size: 80%; }
TD H1 { 
	font-weight: bold;
	color: #000099;
	margin-top: 0px;
	padding-left: 7px;
	padding-top: 7px;
}
UL { 
	font-family: Arial, Helvetica, sans-serif; 
	list-style-type: disc; 
	padding-left: 7px;
	padding-top: 0px;	
	margin-left: 16px;
	margin-top: 0px;
}
UL UL { 
	font-family: Arial, Helvetica, sans-serif; 
	list-style-type: square; 
}
UL UL UL { 
	font-family: Arial, Helvetica, sans-serif;
	list-style-type: circle;
}
OL { 
	font-family: Arial, Helvetica, sans-serif;  
	padding-left: 17px;
	padding-top: 7px;	
	margin-left: 16px;
	margin-top: 0px;
}
LI {
	margin-bottom: 3px;
	margin-top: 3px;
}
	
/* ---------------- DLESE named styles ---------------- */

/* Table TD as header: */
.dlese_tdhead {
	font-weight: bold;
	color: #000099;
	padding: 5px;
	text-align:left;
}
/* UL when used as secondary menu of anchored links at tops of pages: */
.dlese_AnchorNav {
	font-family: Arial, Helvetica, sans-serif;
	margin-top: 0px;
	padding-bottom: 0px; 
	list-style-type: none;
}
/* Classes for minimizing space above/below an element: */
	.dlese_minSpaceAbove {
		margin-top: 0px;
	}
	.dlese_minSpaceBelow {
		margin-bottom: 0px;
	}
	.noTopSpace { 
		margin-top: 0px; 
		padding-top: 0px; 
	}
	.noBottomSpace { 
		margin-bottom: 0px; 
		padding-bottom: 0px; 
	}
	/* ...minimizing space above *and* below an element: */
	.noHeaderSpace {
		margin-top: 0px;
		margin-bottom: 0px;
		padding-top: 0px;
		padding-bottom: 0px;
	}	
	/* Does this header have a sub-header (same as noBottomSpace) */
	.hasSubhead {
		margin-bottom: 0px;
		padding-bottom: 0px;
	}
/* Up arrow anchor links to #top: */
.dlese_topLink {
	padding-top: 3px;
	padding-left: 7px;
}	
P .dlese_topLink {
	margin: 0px;
	padding: 0px;
}
/* Table formatting, with or without borders: */
.dlese_table {
	margin-left: 15px;
	margin-bottom: 15px;
	text-align: left;
}	

/* ---------------- Page content and navigation: ---------------- */

/* Sub-area page title, i.e. 'Find a resource': */
.dlese_sectionTitle {
	font-family: arial, helvetica, sans-serif; 
	font-weight: bold;
	font-size: 13px;
	color: #110D56;  
	line-height: 14px;
	position: absolute;
	top: 62px;
	left: 6px;
	width: 115px;
	height: 33px;
	overflow: hidden;
	z-index: 2000;
	margin: 0px;
	padding: 0px;
}
/* Page footer links/logo: */	
.dlese_footerLinks {
	text-align: center;
	text-decoration: none;
	font-family: arial, helvetica, sans-serif; 
	margin-top: 28px;
	padding: 8px;
}
.dlese_footerLinks HR {
	width: 100%;
	margin-bottom: 14px;
}

/* ---------------- Site banner navigation drop-downs: ---------------- */

.dlese_siteNavInnerLayer {
	background-color: #FFFFFF;	
	font-family: arial, helvetica, sans-serif; 
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 10px;
	margin-right: 0px;
	padding: 4px;
	position: relative; 
}
.dlese_siteNavLinks {
	text-decoration: none;
	padding-left: 1px;
	padding-right: 1px;
	padding-top: 0px;
	padding-bottom: 0px;
	margin: 0px;	
}
.dlese_siteNavLinks:hover {
	text-decoration: underline;
}
/* Standard light blue background: */
.dlese_blue {
	background-color: #E8ECF4;
}
.dlese_blueBar {
	background-color: #E8ECF4;
	width: 100%;
	margin: 0px;
	padding: 0px;
}
.dlese_blueBarText {
	padding: 2px;
	font-weight: bold;
	margin-left: 5px;
}
.dlese_navTable {
	width: 100%; 
	margin: 0px; 
	padding: 0px; 
	position: absolute;
}

/* ---------------- Survey (flyout) styles ---------------- */

.dlese_survey {
	display: none;
	position: absolute;
	z-index: 10000;
	background-color: #F7F7F7;
	border: 2px outset #DDDDDD; 
	padding: 0px; margin: 0px;
	overflow: auto;
}
.dlese_survey FORM { margin: 5px; }
.dlese_survey TEXTAREA { width: 400px; }
.dlese_survey BLOCKQUOTE { margin-left: 14px; margin-bottom: 5px; margin-top: 3px; padding: 0px; }
TD .choice-text { font-size: 100%; }
TD .question-text { font-size: 100%; }
/* ...Perseus form styles: */
.text-block { margin-bottom: 0px; margin-top: 0px; padding: 0px; }
/* Numbered link: */
.question-heading { margin-bottom: 0px; margin-top: 0px; font-weight: bold; text-decoration: none; padding: 0px; }
/* Alternate question text: */
.topic-text { margin-bottom: 3px; margin-top: 0px; font-weight: bold; padding: 0px; }
.dlese_survey A {  font-size: 100%; color: #000000; margin-bottom: 0px; margin-top: 0px; font-weight: bold; text-decoration: none; padding: 0px; }
/* Text next to number: */
.question-text { margin-bottom: 3px; margin-top: 0px; font-weight: bold; padding: 0px; font-size: 105%; }
/* Choices text (radio/checkbox labels) */
.choice-text { margin-bottom: 0px; margin-top: 0px; padding: 0px; font-weight: normal; }

/* ---------------- (XML/RSS)/OPML/XSL/JS syndication buttons ---------------- */

.dlese_xmlButton {
	color: #000000;
	background-color: #eebb77;
	margin-top: 0px;
	padding-top: 0px;
	margin-bottom: 0px;
	padding-bottom: 0px;
	margin-left: 0px;
	padding-left: 3px;
	margin-right: 0px;
	padding-right: 3px;
	border: 2px outset #ffffff;
	font-weight: bold;
	font-size: 90%;
	text-decoration: none;
}
.dlese_xmlButtonXsl {
	background-color: #eecc77;
}
.dlese_xmlButtonJs {
	background-color: #eedd77;
}
.dlese_xmlButtonOpml {
	background-color: #eeeeaa;
}

.dlese_stylesDebugger {
	position: absolute;
	z-index: 90000;
	top: 142px;
	left: 400px;
	display: none;
	visibility: visible;
	background-color: #d4d4ff;
	border: 4px outset #d4d4ff;
	padding: 2px;
}
.dlese_stylesDebuggerWindowTitleBackCol {
	background-color: blue;
}

/* ---------------- DLESE site/search banner styles ---------------- */

/* Gray line at the bottom edge of the banner: */
.dlese_bannerBottomEdge {
	background-color: #747474; 
	font-size: 1px; 
	width: 100%; 
	position: absolute; 
	top: 104px; 
	left: 0px; 
	height: 1px;
	z-index: 9999;
	overflow: hidden;
}
/* Background image stetches across the width of the banner: */
.dlese_bannerDivBackground {
	position: absolute;
	left: 0px; top: 0px;
	background-image: url('/dlese_shared/images/navigation/site_banner_inside_middle.gif');
	width: 100%;
	height: 105px;
	z-index: 100;
}
/* Div surrounding entire banner */
.dlese_bannerDiv {
	position: relative; 
	overflow: hidden;
	height: 104px;
	z-index: 100;
}
/* Table holding banner buttons: */
.dlese_bannerButtonsTable {
	z-index: 200;
	margin-left: 8px;
}
/* Keyword input and search button: */
.dlese_bannerSearchTable {
	position: absolute;
	top: 57px;
	left: 124px;
	z-index: 200;
}
/* Table spacer keeps elements on the right edge of the banner from sliding 
   underneath the navigation buttons */
.dlese_bannerTableSpacer {
	width: 534px;
}
/* Home, Register, New to DLESE? */
.dlese_homeEtcLinks {
	position: relative;
	height: 50px;
	overflow: hidden;
	margin: 0px;	
	margin-right: 2px;
	padding-right: 2px;
	padding-bottom: 0px;
	padding-top: 0px;
	padding-left: 0px;
	top: 5px;
	text-decoration: none;
	z-index: 100;
	font-size: 12px; 
	width: 100px;
}
/* Search tips graphic */
.dlese_searchTipsGraphic {
	position: relative; 
	top: 26px; 
	left: 0px; 
	margin: 0px; 
	padding: 0px;
}
/* Home, etc., anchor links controlled by dlese_homeLink */
.dlese_homeLink {
	color: #ffffff; 
	font-size: 12px;
	margin: 0px;
	padding: 0px;
	text-decoration: none;
}
.dlese_homeLink:link {
	color: #ffffff; 
	margin: 0px;
	padding: 0px;
	text-decoration: none;
}
.dlese_homeLink:visited {
	color: #ffffff; 
	margin: 0px;
	padding: 0px;	
	text-decoration: none;
}
.dlese_homeLink:hover {
	color: #ffffff; 
	margin: 0px;
	padding: 0px;
	text-decoration: underline;
}
/* Search form, with keyword, select list, and search button */
.dlese_searchForm {
	padding: 0px; 
	margin: 0px;
	z-index: 1;
}
/* "Search over:" label */
.dlese_searchOverLabel {
	font-weight: bold; 
	font-size: 13px;
	color: #444444;
	line-height: 0.9em;
	text-align: right;
	padding-left: 5px;
}
/* Keyword search box */
.dlese_searchKeywords {
	margin-left: 12px;
	width: 215px;
}
/* Select list for type of search */
.dlese_searchOverSelect {
	padding-left: 8px;
}
/* Search button */
.dlese_startSearch {
	margin-left: 8px; 
	margin-right: 14px;
}

/* ---------------- DLESE OPML Tree Menus styles ---------------- */

/* Page content TABLE (two-column table with tree on left, text on right): */
.dlese_treeMenuTables {
	padding: 0px;
	margin: 0px;
}
.dlese_treeMenuPageContentTable {
	position: relative; 
	top: 0px; 
	border: 0px; 
	margin: 0px;
	padding: 0px;
	height: 100%;
}
/* Page content TABLE Tree Menu TD: */
.dlese_treeMenuTableCellMenu {
	background-color: #5364a1; 
}
/* Page content TABLE body text TD: */
.dlese_treeMenuTableCellText {
	width: 99%;
	padding-left: 3px;
}
/* Styles for the entire tree: */
.dlese_treeMenu {
	padding: 0px;
	margin: 0px;
	position: relative;
	top: 10px;
	width: 100%;
}
/* All label text: */
.dlese_treeMenuLabelText {
	margin-left: 1px;
	margin-right: 3px;
	margin-top: 4px;
	margin-bottom: 4px;
	line-height: 0.98;
}
/* All labels (rows): */
.dlese_treeMenuLabels {
	font-weight: bold;
	margin: 0px; 
	padding: 0px;
	font-size: 95%;
}
/* Link unvisited/visited/hover colors: */
.dlese_treeMenuLabels A:link {
	color: #ffffff;
	text-decoration: none;
}
.dlese_treeMenuLabels A:visited {
	color: #bbbbbb;
	text-decoration: none;
}
.dlese_treeMenuLabels A:hover {
	color: #ffff77;
	text-decoration: none;
}
/* Top-level labels (rows): */
.dlese_treeMenuTopLabels {
	font-size: 100%;
}
/* Sub-menu labels (rows): */
.dlese_treeMenuSubLabels {
	/* font-family: Arial narrow; UNCOMMENT FOR SKINNY TEXT */
	font-weight: normal;
	background-color: #42538f;
}
/* Current page label (row): */
.dlese_treeMenuSelectedLabel {
	color: #FFFFaa;
	background-color: #213687;
}
/* Image (transparent GIF) icons: */
.dlese_treeMenuIcons {
	position: relative;
	width: 9px;
	height: 100%;
}
/* Icons indent from left edge: */
.dlese_treeMenuIconsIndent {
	margin-left: 2px;
}
/* Horizontal rule images: */
.dlese_treeMenuHR {
	width: 144px;
	height: 9px;
}
