body {
  font-family: sans-serif;
  background: white;
}

h1 {
  font: 250% sans-serif;
  border-bottom: 3px dotted #BBB;
  margin: 0em;
  padding: 0em 0em 0.2em 0.2em;
}

h2 {
  font: 100% sans-serif;
  font-style: italic;
  margin: 0em;
  padding: 0.5em 0em;
  text-align: right;
}

img.screenshot {
  float: right;
  padding: 0.5em;
  border: 3px dotted #BBB;
  margin: 1em;
  background: white;
}

div.linkbar {
  text-align: center;
  margin: 0.75em 2em 1em 0em;
}

a {
  color: #008;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a.linkbar {
  border: 1px solid #BBB;
  padding: 0em 0.5em;
  margin: 0em 0.5em;
}

p {
  margin: 0em 1em;
}

ul {
  margin: 1em 1em;
}

li {
  margin: 0.5em 0em;
}