body {
    font: 100% sans-serif;
}

td {
    padding: 0.1em;
}

th {
    font: 100% sans-serif;
    font-weight: bold;
    border-bottom: 1px solid #777;
    color: #333;
    padding: 0.1em;
}

h1 {
    font: 190% sans-serif;
    font-weight: bold;
    color: #333;
    margin: 0em 0em 1px 0em;
    padding: 0.1em 0em 0.2em 0.1em;
}

h2 {
    font: 120% sans-serif;
    font-weight: bold;
    color: #333;
    margin: 0.25em;
    padding: 0em;
}

.footer {
    text-align: center;
    border-top: 1px solid #777;
    color: #777;
    font: 80% normal;
    margin: 1em 0em;
    padding: 1em;
}

div.navigation {
    border-top: 1px solid #777;
    border-bottom: 1px solid #777;
    margin: 1em 0em;
    padding: 1px;
    text-align: center;
}

a {
    text-decoration: none;
    color: blue;
}
a:hover {
    text-decoration: underline;
}

a.navigation {
    margin: 0.1em 0em;
    padding: 0em 1em;
}
a.navigation:hover {
    background: #DDF;
}

a.name {
    font: 100% sans-serif;
    font-weight: bold;
}

.description {
    font: 80% normal;
    color: #666;
    margin: 0.25em 1em;
}

.temperatures {
    margin: 0em 0.5em;
}

.mainTemperature {
    font: 180% sans-serif;
    vertical-align: middle;
}

.temperatureSeparator {
    font: 180% sans-serif;
    font-weight: bold;
    color: #666;
    vertical-align: middle;
}

.altTemperature {
    font: 120% sans-serif;
    color: #666;
    vertical-align: middle;
}

img.thumbnail {
    border: 1px solid #777;
    margin: 0em 0.6em 0em 0em;
}

.sensorInterval {
    text-align: center;
}

img.graph {
    margin: 0.4em;
    padding: 1px;
}

.extraInfo {
    margin: 0.75em 0em 0em 0em;
    font: 80% sans-serif;
}

span.bargraph {
    font: 5px sans-serif;
    margin: 0em 2em 0em 1em;
    background: #FFF;
    border: 1px solid #777;
    padding: 3px 1px 3px 0px;
    vertical-align: middle;
}

span.filledBar {
    background: #338;
    margin: 1px 0px 1px 1px;
    vertical-align: middle;
    padding: 2px;
}

span.emptyBar {
    margin: 1px 0px 1px 1px;
    vertical-align: middle;
    padding: 2px;
}

