body {
  font-family: sans-serif;
  background: white;
  background-image: url("xchat-gnome-trans.png");
  background-repeat: no-repeat;
  background-position: bottom right;
}

h1 {
  font: 250% sans-serif;
  border-bottom: 1px dashed #888;
  border-left: 1px dashed #888;
  color: #888;
  margin: 0em;
  padding: 0em 0em 0.2em 0.2em;
}

h2 {
  font: 250% sans-serif;
  border-bottom: 1px dashed #888;
  color: #888;
  margin: 0em;
}

a.navigation:hover {
  text-decoration: underline;
}

a.navigation {
  font: 120% sans-serif;
  text-decoration: none;
  color: #9f4747;
  text-align: right;
}

a:hover {
  text-decoration: underline;
}

a {
  font: 100% sans-serif;
  text-decoration: none;
  color: #9f4747;
}

div.navigation {
  min-width:	180pt;
  position:	fixed;
}

div.navigation:before {
  content:	"xchat-gnome cha cha cha";
}

div.content {
  padding-top: 1.5em;
  padding-bottom: 2em;
  margin-left:	200pt;
  margin-right: 20pt;
  text-align: justify;
}

div.content:before {
  padding-top:	1.5em;
  content:	'<a href="http://validator.w3.org/check/referer"><img style="border:0;width:88px;height:31px" src="http://www.w3.org/Icons/valid-xhtml10" alt="Valid XHTML 1.0!" /></a> meow'
}

div.footer {
  padding: 1em;
  margin: 0em;
}

div.code {
  border: 1px dashed #AAA;
  font-family: monospace;
  padding: 0.2em;
  margin: 2em;
  width: 90%;
}

p {
  margin: 0em 1em;
  text-indent: 3em;
}

div.screenshots {
  text-align: center;
}

img.screenshot {
  border: none;
}
